body {
    margin: 0;
    font-family: Arial;
    background-color: dimgray;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    top: 0;
    height: 50px;
    position: fixed;
    z-index:1;
}

.navbar-logo {
    float: left;
    color: white;
}

    .navbar-logo h2 {
        margin: 0px auto;
        padding-top: 10px;
        padding-left: 30px;
    }

.navbar-menu {
    float: right;
    color: white;
    padding-right: 30px;
}

    .navbar-menu ul {
        margin: 0px 0;
    }

    .navbar-menu li {
        float: right;
        padding: 17px 20px;
    }

        .navbar-menu li:hover {
            background-color: rgba(252, 250, 112, 0.80);
        }

        .navbar-menu li a {
            color: white;
        }

.heading {
    padding: 100px 0;
    width: 100%;
    background-image: url(../contents/img/cover.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

    .heading h1 {
        font-weight: bolder;
        margin: 0 0 10px 0;
        font-size: 48px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 1px black;
    }

    .heading p {
        font-size: 18px;
        font-weight: bold;
        text-shadow: 2px 2px 1px black;
    }

.heading-btn {
    margin-top:80px;
}

    .heading-btn a {
        color: white;
    }

.btn {
    display:inline-block;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: rgba(0,0,0,0.4) 0px 5px;
}

    .btn:active {
        box-shadow: rgba(0,0,0,0) 0px 0px;
        transform: translateY(5px);
    }

.fa{
    padding-right:10px;
}

.discord {
    background-color: #745fdd;
}

.youtube{
    background-color: red;
}

.contents{
    width:100%;
}

.contents h2{
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align:center;
    color:white;
}

.content-item{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:30px;
    height:300px;
}

.content-thumb{
    position:relative;
    width:25%;
    float:left;
    height:inherit;
}

.content-thumb img{
    display:block;
    position:relative;
    width: 80%;
    border:2px solid white;
    border-radius: 50%;
    text-align:center;
    top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.content-thumb p{
    position:absolute;
    width:100%;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:20px;
}

.content-text{
    color:white;
    float:left;
    text-align:justify;
    width:75%;
    display:inline-block;
    height:inherit;
}